.webkit-bg {
  color: white;
  font-size: 2rem;
}

html {
  user-select: none;
}

:root {
  --app-height: 100%;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
  width: 100%;
  height: 3rem;

  background: transparent;

  border-bottom: 1px solid white;
}

.leva-c-kWgxhW-czBHep-hideTitleBar-false {
  display: NONE !important;
}

.react-typewriter-text {
  text-align: center !important;
}

.webkit-bg-2 {
  color: white;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  overflow-y: visible;
  position: relative;
}

html,
body {
  margin: 0;
}

.container {
  width: 400vw;
  height: 100svh;
  display: flex;
  flex-wrap: wrap;
}

.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background: yellow;
}

.lastContainer {
  display: flex;
  height: 100svh;
  background: yellow;
}

.panel {
  width: 100vw;
  height: 100svh;
}

.red {
  background: blue;
}

.red {
  background: red;
}

.orange {
  background: orange;
}

.purple {
  background: purple;
}

.blue {
  background-color: blue;
}

.laptop {
  width: 200rem;
  height: 100rem;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: var(--app-height);
}

.container {
  width: 100%;
  position: absolute;
}

.container .wrapper {
  width: 100%;
  position: fixed;
  z-index: 100;
}

.container .wrapper .home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container .wrapper .home p {
  font-size: 0.75rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: 500;
}

.container .wrapper .home h5 {
  margin-top: 260px;
  font-size: 24px;
  font-weight: 600;
  padding-right: 360px;
}

header .inner-header {
  position: relative;
  z-index: 10;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

header .inner-header .logo a {
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  color: #191919;
}

header .inner-header .menu button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 0.8rem;
  mix-blend-mode: difference;
}

header .hamburger-menu {
  display: none;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

header .hamburger-menu .menu-secondary-background-color {
  background: #191919;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

header .hamburger-menu .menu-layer {
  position: relative;
  height: 100%;
  overflow: hidden;
}

header .hamburger-menu .menu-layer .menu-city-background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: backgroundEffect;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

header .hamburger-menu .menu-layer .wrapper {
  position: relative;
}

header .hamburger-menu .menu-layer .wrapper .menu-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 8rem;
}

header .hamburger-menu .menu-layer .wrapper .menu-links nav {
  display: absolute;
  width: 100%;
  height: 100%;
}

header .hamburger-menu .menu-layer .wrapper .menu-links nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li {
  list-style: none;

  font-weight: 700;
  cursor: pointer;
  height: 70px;
  overflow: hidden;
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;
}

header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li a {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li a:hover {
}

header .hamburger-menu .menu-layer .wrapper .menu-links .info {
  color: #fff;
  width: 300px;
}

header .hamburger-menu .menu-layer .wrapper .menu-links .info h3 {
  font-size: 1.2rem;
  margin: 8px auto;
}

header .hamburger-menu .menu-layer .wrapper .menu-links .info p {
  margin: 0 auto;
  font-size: 2rem;
}

@keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 40% 10%;
  }

  50% {
    background-position: 0 10%;
  }

  75% {
    background-position: 10% 40%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.circle-container {
  position: absolute;
  width: 24em;
  height: 24em;
  padding: 2.8em;
  bottom: 5%;
  right: -50%;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border: dashed 1px;
  border-radius: 50%;
  margin: 1.75em auto 0;
}

.circle-container #a {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4em;
  height: 4em;
  margin: -2em;
}

.circle-container img {
  display: block;
  width: 100%;
}

.deg0 {
  transform: translate(12em);
}

/* 12em = half the width of the wrapper */
.deg45 {
  transform: rotate(200deg) translate(12em) rotate(-200deg);
}

.deg225 {
  transform: rotate(220deg) translate(12em) rotate(-210deg);
}
.deg315 {
  transform: rotate(240deg) translate(12em) rotate(-220deg);
}

.deg135 {
  transform: rotate(160deg) translate(12em) rotate(-170deg);
}
.center {
  transform: rotate(140deg) translate(12em) rotate(-135deg);
}
.img1 {
  transform: rotate(10deg) translate(12em) rotate(-135deg);
}
.img2 {
  transform: rotate(120deg) translate(12em) rotate(-135deg);
}
.img3 {
  transform: rotate(1deg) translate(12em) rotate(-135deg);
}
.img1 {
  transform: rotate(95deg) translate(12em) rotate(-135deg);
}

.deg180 {
  transform: translate(-12em);
}

.flip-card {
  background-color: transparent;
  width: 90%;
  height: 90%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.box-gradient {
  background: hsla(282, 36%, 25%, 1);
  opacity: 0.9;
  background: linear-gradient(
    90deg,
    hsla(282, 36%, 25%, 1) 0%,
    hsla(310, 22%, 37%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(282, 36%, 25%, 1) 0%,
    hsla(310, 22%, 37%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(282, 36%, 25%, 1) 0%,
    hsla(310, 22%, 37%, 1) 100%
  );
}
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel {
  position: absolute;
  width: 364px;
  height: 364px;

  border-radius: 50%;
  transition: 2s;
  transform-origin: center center;
}

.carousel::before {
  /* content: "";
	 */
  position: absolute;
  width: 50%;
  height: 100%;

  border-radius: 50% 0 0 50%;
}

.item-carousel {
  position: absolute;
  border-radius: 50%;

  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin: 2px;
  bottom: 0;
  transition: 0.5s;
}

.item-carousel.next {
  color: white;
}

.item-carousel.prev {
  color: white;
}

.item-carousel.active {
  color: white;
}

.item-carousel:nth-child(1) {
  right: -19px;
  top: 101px;
}

.item-carousel:nth-child(2) {
  right: -17px;
  top: 213px;
}

.item-carousel:nth-child(3) {
  right: 49px;
  top: 303px;
}

.item-carousel:nth-child(4) {
  right: 156px;
  top: 337px;
}

.item-carousel:nth-child(5) {
  right: 263px;
  top: 302px;
}

.item-carousel:nth-child(6) {
  right: 330px;
  top: 210px;
}

.item-carousel:nth-child(7) {
  right: 330px;
  top: 100px;
}

.item-carousel:nth-child(8) {
  right: 263px;
  top: 7px;
}

.item-carousel:nth-child(9) {
  right: 156px;
  top: -27px;
}

.item-carousel:nth-child(10) {
  right: 48px;
  top: 6px;
}
::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 480px) {
  .scroll {
    width: 100vw;
    height: var(--app-height);
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
    scroll-snap-type: mandatory;
    overflow: auto;
    height: 100svh;
  }
  .snap-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: var(--app-height);
    border: 1px solid black;
    scroll-snap-align: start;
    height: 100svh;
  }
}

.wave-set {
  height: 100vh;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: #000;
  transform: 0 !important;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.titles {
  color: #00fff3;
}
.demoWrapper {
  padding-top: 20rem;
  left: 45%;
  top: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1100px;
  transform-style: preserve-3d;
  position: absolute;
  /* padding: 1px;*/
  margin-bottom: 200px;
  /*   background-color: #000; */
}

.box {
  position: absolute;
  width: 250px;
  height: 350px;
  background-color: #06f;
  display: inline-block;
  margin: 10px 20px 50px 235px;

  overflow: hidden;
}

.creative-pro {
  background-color: red;
  border: 1px solid #00fff3;
  color: #00fff2;
  background: transparent;
  height: 8rem;
}

.creative-pro:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 #00fff3, 0 6px 20px 0 #00fff3;
}

#hover:hover {
  fill: #da4567;
}

.set .slick-slider {
  width: 90%;
}

#hover:hover path {
  fill: #2981e2;
}

.click-here:hover svg path {
  fill: #2981e2;
}
.Toastify__close-button--light {
  color: #000;
  opacity: 0.3;
  width: 10%;
}

.react-dropdown-select-content span {
  padding-top: 0.7rem;
  color: white;
}
.react-dropdown-select {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid white;
}

.react-dropdown-select-input .css-1c8t16q-InputComponent .e11wid6y0 {
  color: white;
  font-size: 1rem;
}

.blog-content p {
  padding: 10px;
  color: white;
}

.blog-content h1 {
  padding: 10px;
  color: white;
}

.blog-content h2 {
  color: white;
}

.blog-content h3 {
  color: white;
}
.blog-content h4 {
  color: white;
}

.blog-content h5 {
  color: white;
}

.blog-content h6 {
  color: white;
}
